@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');


* { 
    /* margin: 0; 
    padding: 0px;  */
}

:root{
    --main-font-family: 'Montserrat', sans-serif;
    /* --main-primary-color: #483D8B;  */
}
html,body{
    height: 100%;
    padding: 0;
    margin: 0;
}
/* TODO make this only affect the background-image */
body{ 
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    z-index: 1;
    opacity: 0.3;
}
