@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');


* { 
    /* margin: 0; 
    padding: 0px;  */
}

:root{
    --main-font-family: 'Montserrat', sans-serif;
}
html,body{
    height: auto;
    font-family: var(--main-font-family);
    width: 100%;
    overflow-x: hidden;
}

/* ---------- PAIMON ICON -----------  */

.nav-bar{
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    height: 50px;
    /* background-color: #483D8B; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    z-index: 1;
}

.icon{
    position: absolute;
    top: 15px;
    right: 5%;
    margin: 0 1em;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.paimon{
    width: 75px;
    animation: float 6s ease-in-out infinite;
    box-sizing: border-box;
    border: 2px white solid;  
    border-radius: 50%;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-15px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

/* ---------- title-block -----------  */
.title-block{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 5%;
}

/* ---------- Question-block -----------  */
.question-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}