
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Genshin Quizlet</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
        <script src="https://kit.fontawesome.com/f4e6cce133.js" crossorigin="anonymous"></script>
    </head>
<body>
    <a href="#" class="nav">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
    </a>
    
</body>
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
<script type="text/javascript">
    // var images = ['bg-1.png', 'bg-2.png', 'bg-3.png', 'bg-4.png', 'bg-5.png', 'bg-6.png', 'bg-7.png'];
    // $('body').css({
    //     'background-image': 'url(' + '../static/images/' + images[Math.floor(Math.random() * images.length)] + ')',
    // });
  </script>
</html>
